services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: housing_api
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: housing_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
